<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://foo1/service.svc" name="WithClientEndPointBehaviour" behaviorConfiguration="myClientEndpointBeh" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="MyService.IService">
      </endpoint>
      <endpoint address="http://foo/service.svc" name="WithClientEndPointBehaviour2" behaviorConfiguration="myClientEndpointBeh2" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="MyService.IService">
      </endpoint>
      <endpoint address="http://bar/service.svc" name="NoEndPointBehaviour" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="MyService.IService" behaviorConfiguration="pivotalWcfClientIwaInterceptorBehaviour">
      </endpoint>
    </client>
    <services>
      <service name="WithSvcBehaviourAndEndPointBehaviour" behaviorConfiguration="mySvcbehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfService.IService" bindingConfiguration="noSecurity" behaviorConfiguration="mySvcEndpointBeh" />
      </service>
      <service name="WithSvcBehaviourButNoEndPointBehaviour" behaviorConfiguration="mySvcbehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfService.IService" bindingConfiguration="noSecurity" />
      </service>
      <service name="NoBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="WcfService.IService" bindingConfiguration="noSecurity" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mySvcbehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="mySvcEndpointBeh">
        </behavior>
        <behavior name="myClientEndpointBeh">
          <pivotalWcfClientIwaInterceptorExtensions />
        </behavior>
        <behavior name="myClientEndpointBeh2">
          <pivotalWcfClientIwaInterceptorExtensions />
        </behavior>
        <behavior name="pivotalWcfClientIwaInterceptorBehaviour">
          <pivotalWcfClientIwaInterceptorExtensions />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="pivotalWcfClientIwaInterceptorExtensions" type="Pivotal.RouteServiceIwaWcfInterceptor.IwaInterceptorBehaviourExtensionElement, RouteServiceIwaWcfInterceptor, Version=1.1.7.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>